*{
    margin: 0;
    padding: 0;
}

.section{
    position: relative;
    padding: 2rem;
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 2fr;
}
.section-left{
    margin-right: 2rem;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: stretch;
    border: 2px solid;
}
.section-right{
    display: grid;
    justify-content: stretch;
    border: 2px solid;
}
.form{
    display: grid;
    justify-items: stretch;
    grid-template-rows: repeat();
    padding: 1rem;
}
.display{
    position: absolute;
    bottom: 2rem;
    z-index: 1;
    display: block;
    padding: 5rem;
    background-color: paleturquoise;
}
.update-btn{
    display: block;
}

